.App {

  margin: 80px auto;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 2px 4px 15px rgb(101, 151, 225);
   height: 15rem;
    border: 2px solid rgb(247, 243, 243);
      border-radius: 10px;
      padding: 10px;
      
      width: 19rem;
  }
  h1{
    height: 30px;
    padding: 30px;
    color: rgba(11, 11, 11, 0.955);
  
  font-family: monospace;
    box-shadow: 2px 1px 5px rgb(210, 155, 155);
  
  }
  h3{
  
   padding-top: 20px;
  font-size: large;
  font-family: serif;
  
    height: 30px;
    box-shadow: 4px 4px 3px rgb(103, 154, 196);
  }
  div.date{
  text-shadow: 1px 2px 3px  rgb(231, 161, 161);

  
  font-size: large;
  font-weight: 700;
  font-family: monospace;
  
  }